@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
* { 
    font-family: 'Noto Sans KR', sans-serif; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #F2F2F2;
    margin: 0px;
    padding: 0px;
}

.atom-black { color: #0D0D0D; }
.atom-white { color: #F2F2F2; }

.atom-blue-1 { color: #011826; }
.atom-blue-2 { color: #023859; }
.atom-blue-3 { color: #085A8C; }
.atom-blue-4 { color: #3B8DBF; }
.atom-blue-5 { color: #91CDF2; }

.atom-red-1 { color: #260505; }
.atom-red-2 { color: #590A0A; }
.atom-red-3 { color: #8C1C1C; }
.atom-red-4 { color: #BF2A2A; }
.atom-red-5 { color: #F2AAAA; }

.atom-green-1 { color: #0B2E21}
.atom-green-2 { color: #014029}
.atom-green-3 { color: #0A7342}
.atom-green-4 { color: #3A8F5F}
.atom-green-5 { color: #A6DEB6}

.atom-yellow-1 { color: #B6A71E;}
.atom-yellow-2 { color: #D6CB39;}
.atom-yellow-3 { color: #F0E960;}
.atom-yellow-4 { color: #F2F079;}
