.box {
    aspect-ratio: 16 / 9;
    border-radius: 10px;
    margin: 10px 10px 10px 0px;
    width: 80%;
    position: absolute;
    background: #fff;
    z-index: 0;
}
.item {
    margin: 5px;
}
.slide-left, .slide-right {
    opacity: 0%;
    position: absolute;
    z-index: 10;
    height: 100%;
}
.slide-right { float: right; }
.slide-left { float: left; }
.slide-left:hover, .slide-right:hover, .slide-left:active, .slide-right:active { opacity: 100%; }